<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title123</title>
    <style>
        .h2-text {
            color: red;
            height: 50px
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">text 1</h1>
    <h2 class="h2-text">text 2</h2>
    <h5 class="h2-text">text 5</h5>
    <p>А это у нас абзац))</p>
    <p>Locators are the central piece of Playwright's auto-waiting and retry-ability. In a nutshell, locators represent a way to find element(s) on the page at any moment.</p>
</div>

<ol>
    <li>Первый пункт</li>
    <li>Второй пункт</li>
    <li>Третий пункт</li>
</ol>

<a href="https://www.w3schools.com/tags/" target="_blank">Перейти по ссылке:</a>
<p>А это у нас <span style="color: red;">новый абзац</span>))</p>
<img src="https://playwright.dev/python/img/logos/Browsers.png" style="width: 250px" alt="Browsers (Chromium, Firefox, WebKit)">
<ul>
    <li>Python</li>
    <li>Jawa</li>
    <li>TypeScript</li>
</ul>
<form action="/action" method="post">
    <input type="text" value="Login" placeholder="Введите Ваш логин">
    <input required type="email" placeholder="Email">
    <input type="password" placeholder="Введите пароль">
    <textarea placeholder="text">Комментарий</textarea>
    <button type="submit" disabled>Отправить заказ</button>
</form>
<table>
    <thead>
    <tr>
        <td>Заголовок 1</td>
        <td>Заголовок 2</td>
        <td>Заголовок 3</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Строка 1</td>
        <td>Строка 2</td>
        <td>Строка 3</td>
    </tr>
    <tr>
        <td>Строка 1</td>
        <td>Строка 2</td>
        <td>Строка 3</td>
    </tr>
    </tbody>
</table>
</body>
</html>

